[Desktop Entry]
Version=0.1
Name=Stats
Comment=Hello ITC136
Exec=/usr/bin/gnome-terminal -e "bash -c '/usr/local/bin/stats; bash'"
Icon=/home/endlesshappiness/Desktop/mustache.png
Terminal=false
Type=Application
Categories=Utility;Application;
